* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
    
  }
  body{
    font-family: "Inter", sans-serif;
  }
  .header{
    background-color: #0CA1BB;
    padding-top: 32px;
    padding-bottom: 118px;
    display: flex;
    justify-content: space-between;
  }
  .header__text{
    padding-left: 14px;
    color: white;
    font-size: 46px;

  }
  .hb{
    height: 100px;
    width: 100px;
    font-size: 24px;
    border-radius: 35px;  
    border: none;
    cursor:pointer;
  }
  .header__buttons{
    padding-right: 20px;
  }
  .main__buttons{
    display: flex;
    justify-content: space-between;
    padding: 20px 105px;
  }
  .main__button{
    background-color: #0C23BB;
    color: white;
    font-size: 64px;
    height: 100px;
    width: 500px;
    border: none;
    border-radius: 30px;
    cursor:pointer;
  }
  .main__sells{  
    background-color: #5CECC3;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 106px;
    
  }
  .main__sells-titl{
    text-align: center;
    font-size: 64px;
    color: #0C23BB;
  }
  .main__sells-text{
    padding-left: 31px;
    padding-bottom: 38px;
    color:#0C23BB;
    font-size: 36px;
  }
  .main__main{
    padding-top: 50px;
    padding-left: 105px;
    padding-right: 105px;
    padding-bottom: 50px;
  }
  .services__card {
    max-width: 500px;
    border-radius: 50px;
    background-color: #2BB8BD;
    padding: 30px;
    transition: 1s;
    color:#0C23BB ;
    font-size: 36px;
  }
  .services__card:hover {
    transform: scale(1.2); 
    box-shadow: 10px 10px 40px #00000010;
   }
  .services__icon{
    margin: 0 auto;
    display: flex;
    align-items: center;

  }
  .services__row {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 190px;
  }
.main__reviews{
  background-color: #2BB8BD;
  background-image: url(../img/FON1.svg);
background-position: center right;
background-repeat: no-repeat;

  
}
.main__reviews-text{
  font-size: 32px;
}
.form{
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}
.pl{
  font-size: 32px;
}
.form__input{
  padding-right: 50px;
  display: flex;
}
.input{
  width: 911px;
  height: 50px;
  border: none;
  border-radius: 100px;
}
.button__i{
  padding: 18px 28px;
  border: none;
  border-radius: 100px;
  color: white;
  background-color: #0C23BB;
  cursor:pointer;
}
.reviews__reviews{
  padding-top: 225px;
  
}



.reviews__card {
  display: flex;
  align-items: center;
  gap: 478px;
  max-width: 1800px;
  border-radius: 100px;
  background-color: #ffffff;
  padding: 30px;
  color:#000000;
  font-size: 36px;
  justify-content: space-between;
}
.reviews__icon{
  margin: 0 auto;
  display: flex;
  align-items: center;

}
.reviews__row {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 50px;
}
.green{
  padding-top: 30px;
  background-image: url(../img/FON2.svg);
  background-position: center right;
  background-repeat: no-repeat;
}
.da{
  display: flex;
  
}
.net{
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.da__text{
  margin: 0 auto;
  background-color: #0C6CBB;
  color: white;
  padding: 31px 29px;
  border-radius: 100px;
  font-size: 20px;
}
.net__cycl{
  margin-left:auto ;
  height: 100px;
  width: 100px;
  background-color: #00FF2F;
  border-radius: 100px;
}
.net__text{
  background-color: #0C6CBB;
  margin-right: auto;
  color: white;
  padding: 21px 14px;
  border-radius: 100px;
}
.complaints{
  background-color: #2BB8BD;
  background-image: url(../img/FON3.svg);
  background-position: top right;
  background-repeat: no-repeat;

}
.complaints__text{
  display: flex;
  gap: 623px;
  font-size: 36px;
}

.com__input{
  padding-right: 50px;
  display: flex;
}
.com{
  padding-left: 30px;
 
}
.button__com{
  padding: 16px 58px;
  border: none;
  border-radius: 100px;
  color: white;
  background-color: #0C23BB;
}
.input__com{
  height: 50px;
  width: 730px;
  border-radius: 100px;
  border: none;
}
.com__text{
  padding-top:26px ;
  display: flex;
  padding-bottom: 17px;
}
.hghg{
  background-color: #0C6CBB;
  color: white;
  padding: 16px 268px;
  border-radius: 100px;
}
.input__com1{
 
  height: 377px;
  width: 871px;
  border-radius: 100px;
  border: none;
}

.input__com2{
 
  
  width: 871px;
  border-radius: 100px;
  border: none;
  background-color: #0C23BB;
  color: white;
}
.lklk{
  padding: 25px 0px;
  display: flex;
}
.klkl{
  background-color: #0C6CBB;
  color: white;
  padding: 16px 373px;
  border-radius: 100px;
}
.complaint__row{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 50px;
}
.ouou{
 
 padding-left: 50px;
 padding-top: 50px; 
}
.complaint__card{
  background-color: white;
  
  border-radius: 100px;

}
.complaint__icons{
  display: flex;
  padding-bottom:172px ;
  padding-top: 20px;
  padding-left: 30px;
}
.gh{
  background-color: #0C6CBB;
  padding: 30px 77px;
  border-radius: 100px;
  color: white;
}
.gh__text{
  
  background-position: center center;
  background-repeat: no-repeat;
font-size: 48px;


}
.hg__text{
 background: url(../img/masseng.svg) center center no-repeat;
 
 height: 360px;
 width: 985px;
 padding-left: 160px;
 padding-right: 160px;
 padding-top: 59px;
 padding-bottom: 95px;
}
.gh__text{
color: white;
  max-width: 568px;
  
  text-align: left;
  padding-bottom: 55px;
  
}
.jojo{
  padding-left: 604px;
 

  padding-right: 50px;
}
.kr{
  display: flex;
}
.footer{
  background-color: #3D635D;
  color: #2BB8BD;
  background-image: url(../img/FON4.svg);
  background-position: center right;
  background-repeat: no-repeat;
}
.kra{
  padding-top: 100px;
  justify-content: space-between;
  display: flex;
  

}
.foter__conta{
  font-size: 33px;
  padding-bottom: 600px;
}
.s{
  font-size: 33px;
}
.d{
  font-size: 25px;
}
.koko{
  padding-top: 50px;
  padding-right: 20px;
}
.none{
  cursor:not-allowed;
  background-color: #7e87c2;
}
#zatemnenie {
  background: rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
}
#okno {
  position: fixed;

  width: 400px;
  height: 300px;
  text-align: center;
  padding: 15px;
  border: 3px solid #ffffff;
  border-radius: 10px;
  color: #0C23BB;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #0C23BB;
}
#zatemnenie:target {display: block;
}
.close {
  display: inline-block;
  border: 1px solid #0C23BB;
  color: #0C23BB;
  padding: 0 12px;
  margin: 10px;
  text-decoration: none;
  background: #f2f2f2;
  font-size: 14pt;
  cursor:pointer;
}
.login{
  display: flex;
  flex-direction: column;
}
.login__input{
  margin-bottom: 10px;
  border-radius: 100px;
  padding: 20px;
  background-color: white;
  border: none;
}
.btn__login{
  cursor: pointer ;
}
.send{
  margin-top: 10px;
  cursor: pointer;
}
.rasslka{
  background-color: #2BB8BD;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.about{
  padding-top: 30px;
}
.about__titl{
  font-size: 64px;
  text-align: center;
  padding-bottom: 50px;
}
.about__nav{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 100px;
}
.about__li{
  display: flex;
  margin-top: 20px;
  flex-direction:column ;
  align-items: center;
  border-radius: 10px;
  transition: 1s;
  box-shadow: 10px 10px 40px #00000010;
  
}

.about__li-warp{
  text-align: left;
}
.about__li-titl{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 290px;
  
  font-size: 36px;
}
.about__li-text{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  max-width: 290px;
  padding-bottom: 10px;
}
.about__li:hover {
  transform: scale(1.2); 
 }
 .footer__ruls{
  padding-bottom: 20px;
  padding-left: 30px;
 }
 .complaints__rules-titl{
  font-size: 32px;
 }
 .complaints__rules-text{
  padding-top: 100px;
  font-size: 32px;
 }
 .complaints__bottom{
  display: flex;
 }
 @media (max-width: 1752px) {
  .kr {
    flex-direction: column;
  }
  .jojo{
    padding-left: 20px;
    padding-bottom: 60px;
    padding-right: 50px;
  }
  .hg__text{
    height: 180px;
    width: 492px;
    background-size: cover;
  }
  .hg__text{
    font-size: 24PX;
  }
}
@media (max-width: 1248px) {
  .complaints__bottom{
    flex-direction: column;
    padding-left: 20px;
   }
   .form__input{
    flex-direction: column;
   }
   .input{
    width: 50vh;
   }
   .input__com1{
    width: 50vh;
   }
   .input__com2{
    width: 50vh;
   }
   .klkl{
    padding: 16px 73px;
   }
   .services__subtitl{
    font-size: 24px;
   }
   .reviews__card{
    flex-direction: column;
    gap: 0px;
   }
   .hghg{
    padding: 10px 10px;
   }
   .main__button{
    font-size: 32px;
   }
   .about__nav{
    flex-direction: column;
    align-items: center;
    
   }
}
@media (max-width: 610px) {
  .hg__text{
    background: fixed;
    color:black;
    padding-right: 0;
    background: none;
  }
  .ouou{
    padding-left: 0;
  }
  .complaint__icons{
    padding-bottom: 0;
  }
  .jojo{
    height: 300px;
  }
  .input{
    width: 20vh;
   }
   .input__com1{
    width: 20vh;
    height: 10vh;
   }
   .input__com2{
    width: 20vh;
   }
}
@media (max-width: 500px) {
  .jojo{
    height: 200px;
  }
  .complaint__icon{
    width: 370px;
  }
  .hg__text{
    padding-right: 150px;
  }
  .main__buttons {
    padding: 0;
  }
  .header{
    flex-direction: column;
  }
  .main__main {
    padding-left: 0;
    padding-right: 0;
  }
  .foter__conta{
    font-size: 24px;
  }
  .koko{
    font-size: 12px;
  }
  .s{
    font-size: 12px;
  }
  .services__card:hover {
    transform: scale(1); 
   }
   
}
